// FEATURE

$z-over: 4;

.feature {
	display: block;
	position: relative;
	padding: 3rem 0;
	
	// do i need these?
	z-index: $z-over;
	@include clearfix;
	
	// default feature colors
	background-color: $white;	

	&__title {
		margin: 0;
		color: $purp;
	}
	
	// for the other color one
	&--alt {
		background-color: $purp;
		
		.feature__title { color: $white; }
		.video {
			&__curtain { background-color: $white; }
			&__btn { color: $purp; }
		}
	}

	&__wrapper {
		display: block;
		// edit this for @mq
		padding: 0 1.5em;
		margin: 0 auto;
		width: 100%;
		max-width: $iteWrapper;
	}
}