// FEATURE
$z-over: 4;

.feature {
	display: block;
	position: relative;
	padding: 3rem 0 0;
	
	// do i need these?
	z-index: $z-over;
	@include clearfix;
	
	// default feature colors
	background-color: $white;	
	
	&__title {
		margin: 0;
		padding-top: 1em;
		padding-right: 0;
		padding-left: 0;
		color: $purp;
	}
	
	// for the other color one
	&--alt {
		background-color: $purp;
		
		.feature__title { color: $white; }
		
		.video {
			&__curtain { background-color: $white; }
			&__btn { color: $purp; }
		}
	}

	&__wrapper {
		display: block;
		// edit this for @mq
		padding: 0 1.5rem;
		margin: 0 auto;
		width: 100%;
		max-width: $iteWrapper;
		position: relative;
	}

	&__number {
		@include size(2rem);
		border-radius: 50%;
		background-color: $green;
		color: white;
		@include display(flex);
		align-items: center;
		justify-content: center;
		position: absolute;
		top: -1rem;
		left: .75rem;
		z-index: 4;

		// background-color: $white;
		// color: $green;
	}
}