.video {
	&__wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}

	&__curtain {
		@include position(absolute, 0);
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);	
		background-color: $purp;

		background-position: center center;
		background-size: cover;
		@include transition(all .25s ease);
		
		&.playing {
			@include transform(translateY(50%));
		}
	}

	&__btn {
		font-size: 3em;
		color: $white;
	}
	
	// can i add a class to this?
	iframe {
		@include position(absolute, 0);
		@include size(100%);
	}
}