/* apply a natural box layout model to all elements, but allowing components to change */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

// BODY
html, body {
	@include size(100%);
}

body {
	background-image: url('../img/bg-1.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;	
}

img { max-width: 100%;}

// MEDIA QUEERIES
$baby-bear: 32em;	// 480px =  30
$mama-bear: 68em;	// 1020 = 63.75
$papa-bear: 90em;	// 1350 = 84.375

@mixin bp($point) {
	
	$bp-baby: "( min-width: #{$baby-bear} )";
	$bp-mama: "( min-width: #{$mama-bear} )";
	$bp-papa: "( min-width: #{$papa-bear} )";

	@if $point == baby {
		@media #{$bp-baby} { @content; }
	}

	@else if $point == mama {
		@media #{$bp-mama} { @content; }
	}

	@else if $point == papa {
		@media #{$bp-papa} { @content; }
	}

}