// local scope variables
$btn-color: $white;
$btn-color-alt: $green;

// Buttons
.btn {
	display: block;
	width: 100%;
	max-width: 15.625rem;
	margin: 1em auto 0;
	padding: 0.5em 0;
	
	@include futura(400, $white, 1.125rem);
	text-transform: uppercase;
	letter-spacing: 0;
	line-height: 1;
	
	border: 2px solid white;
	border-radius: 5px;
	
	&:hover {
		background-color: white;
		color: $btn-color-alt;
	}

	&--solid {
		background-color: $btn-color;
		color: $btn-color-alt;
		&:hover {
			background-color: $btn-color-alt;
			color: $btn-color;
			border-color: $btn-color-alt;
		}
	}

	@include bp(baby) {
		font-size: 1.5rem;
		max-width: 20.8125rem;
	}
	@include bp(mama) {}
}