// Buttons
.btn {
	display: block;
	width: 100%;
	border: 2px solid white;
	margin: 0 auto;
	max-width: 15em;
	padding: 0.6em;

	font-family: 'futura-pt', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	color: white;

	&:hover {
		// color: rgba(white, 0.1);
		background-color: white;
		background-color: rgba(white, 0.3);
	}

	margin-bottom: 2em;
	@include bp(baby){
		margin-bottom: 3em;
	}
	@include bp(mama){
		margin-bottom: 5em;
	}
}

.scroll-target {
	overflow: hidden;
}

#center {
	@include size(1px 100%);
	@include position(fixed, 0 50% 0 null);
	background-color: yellow;
	display: none;
}