//
// JUKEBOX
// -------------------------


// old mixins
%futuraBold {
	// display: block;
	// text-align: center;
	// margin-top: 0.5em;
	font: {
		size: 1em;
		weight: bold;
		weight: 700;
		family: 'futura-pt', 'futura', sans-serif;
	}
}

%futuraBook {
	display: block;
	text-align: center;
	margin-top: 0.5em;
	font: {
		weight: 400;
		family: 'futura-pt', 'futura', sans-serif;
	}
}

// old vars
$jp-progress-height: 5em;

#chapter3-jukebox {
	// overflow: scroll;
	background-image: url('../img/bg-2.jpg');
	background-size: cover;
	background-position: bottom center;
	background-attachment: fixed;
	position: relative;

	min-height: 100%;
}

#jukebox {

	// max-width: 600px;
	margin: 0 auto;

	padding: 0;	
	// background-color: pink;
	overflow: hidden;

	@include bp(baby){
		padding-top: 4em;
	}

	@include bp(mama){
		padding-top: 10em;
	}


}

#jp_container_rarity {
	// position: relative;	
}




.jp-artwork {	
	

	text-align: center;
	position: relative;
	display: block;
	margin: 0 auto;
	max-width: 20em;

	.jp-volume {
		position: absolute;
		display: block;
		font-size: 2em;
		top: 0;
		left: 0;
		padding: 0.5em 0 0 1em;
	}



	&:hover {
		> .jp-controls > a {
			opacity: 1;
		}
	}
	
	.jp-controls {
		display: block;
		position: absolute;
		
		font-size: 2em;

		top: 45%;
		
		width: 100%;
		margin-left: -0.9375rem;
		// right: 25%;
		
		
		height: 10%;
		
		> a { opacity:  0; }
		
		> .jp-play, .jp-pause {
			
			color: transparatize(white, 50%);

			// font-size: 2em;
			margin: 0 0.3em;
		}
		
		> .jp-play {
			opacity: 1;
		}
		
	}

	display: none;
}


.jp-volume {
	position: absolute;	
	font-size: 2em;	
	padding: 0.5em 0 0 1em;
}


// Controls
.jp-control-wrapper {
	// font-size: 1em;
	padding: 2em 4em;
	text-align: center;

	@include display(flex);
	@include align-items(center);
	@include flex-direction(row);
	@include justify-content(space-around);
	@include justify-content(center);

	> a.jp-control {
		font-size: 2em;

		line-height: 1;
		// @include size(2.5em);
		display: inline-block;
		position: relative;
		padding: 0.6em;
		// margin: 0 1em;
		// border: 2px solid white;
		border-radius: 50%;
		color: $white;
		color: rgba($white, 0.2);
		color: rgba($purp, 0.6);
		color: rgba($white, 1);
		color: rgba($purp, 1);

		@include transition;

		&:hover {
			color: rgba($purp, 1);
			color: rgba($white, 1);
		}

		
		

		// div.parent > div.child {
		//   @include flex(1);
		// }

		
		span {
			// height: 100%;
			// @include position(absolute, 0 0 0 0)
		}

		&.jp-play, 
		&.jp-pause {
			// font-size: 6rem;
			@include bp(mama) {
				margin: 0 1em;
			}
		}

		@include bp(baby){
			font-size: 3em;
			
			&.jp-play, &.jp-pause {
				font-size: 6em;
			}
		}
	}
}



//////////////////////////////////////////
// Progress Bar, Time, Current Track 	//
.jp-progress {
	
	
	// @include position(fixed, null 0 4em 0);
	position: relative;
	display: block;
	width: 100%;
	z-index: 1030;
	
	// background-color: green;
	padding: 0 1.5em;

	@include bp(baby){
		padding: 0 4em;
	}

	margin-bottom: 10%;

	// hide for now
	.jp-time-holder{

		.current-track { 
			// display: none; 
			margin: 0;
			padding: 0.5em 0;
			text-transform: capitalize;
			color: $white;
		}
		
		display: block;
		margin-bottom: 2em;
		padding: 1em 0;
		position: relative;
		text-align: center;

		@extend %futuraBold;
		line-height: 1;
		color: rgba($white, 0.5);

		> span {
			// margin-top: -1px;
			// display: inline-block;
		}

		.jp-time {
			display: inline;
			font-weight: lighter;
			color: rgba($white, 0.5);
		}

	}
	
	// progress bar
	.jp-seek-bar {		
		
		height: 0.5em;
		background-color: rgba($white, 0.5);
		background-color: rgba($purp, 0.5);
		border-radius: 1em;
		overflow: visible;

		> .jp-play-bar {
			
			
			height: 100%;
			position: relative;
			border-radius: 1em;
			


			background-color: $white;
			background-color: $purp;

			// time scrubby thing; not workin, so lets hide it
			&:after {
				content: "";
				font-size: 1.3em;
				height: 1em;
				border-radius: 50%;
				background-color: pink;
				display: block;
				position: absolute;
				width: 1em;
				top: -0.3em;
				right: 0;
				z-index: 999;
				overflow: visible;

				display: none;
			}
		}
	}


}

//////////////////////////////////////////
// PLAYLIST
.jp-playlist {
	
	text-align: center;
	background-color: $purp;

	@include position(absolute, null 0 0 0);

	> ul { 
		
		margin: 0;
		padding: 0;
		list-style: none; 
		
		> li {
			display: inline-block;
			
			// do i need this?
			&.jp-playlist-current {
				// background-color: darken($purp, 20%);
			}

			> div { display: inline; }

			a.jp-playlist-item {
				display: inline-block;
				// padding: 0.7em 0;
				padding: 1em;
				margin: 0;

				color: rgba($white, 0.5);

				font-family: 'futura-pt';
				font-weight: 400;
				font-style: normal;	
				font-size: 1em;
				line-height: 1;

				@include transition;

				&:hover { color: $white; }
				
				&.jp-playlist-current {
					color: white;

				}
			}

		}
	}
}


// .jp-controls,
// .jp-volume,
.jukebox-btns,
.soundcloud,
// HIDE THIS STUFF
// .hover-tile-outer,
.foundation-stuff { display: none; }


//////////////////////////////////////////
// Mini Player 							
.jp-mini {

	display: none;
	@include position(fixed, 0 0 null null);
	z-index: 3;
	padding: 1em;
	color: rgba($white, 0.5);
	color: rgba($purp, 0.5);
	color: $purp;
	a { 
		padding: 0.5em; 
		&:hover { color: $white; }
		// mute & unmute
		&:last-child { padding-right: 0; }
	}
	@include bp(mama){
		display: block;
	}
}