$header-color: white;
$header-color--alt: $purp;


// Typography
a {
	text-decoration: none;
	color: inherit;
}

// FUTURA mixin
@mixin futura($weight: 400, $color: $white, $size: 1rem) {
	font: {
		family: 'futura-pt', 'futura', sans-serif;	
		weight: $weight;
		size: $size;
	}
	color: $color;
}

h1, h2 {	
	margin: 0 auto;
	padding: .6em 1rem 0;
	text-align: center;
	@include futura(700, $white, 1.5rem);
	text-transform: uppercase;
	letter-spacing: 3px;
	
	// &:hover { color: white; }
	@include transition;
	
	/*
	 * MEDIA QUERIES
	 */

	@include bp(baby) {
		font-size: 36px;
	}

	@include bp(mama) {
		// color: rgba(white, 0.5);
		// font-size: 2.5em;
		// margin: 4.5em auto;
	}
}

h2 {
	font-weight: 400;
	color: $purp;
	padding: 1em 0 0;
}