---
---

/* ------------
 * TOOLS
 ------------ */

// NORMALIZE
@import "0-normalize";
// BOURBON
@import "bourbon/bourbon";


/* ------------
 * BASE
 ------------ */

// VARS, BITS, HELPERS
@import "bits";
// Base
@import "base";
// Typography
@import "typography";
// BTN
@import "buttons";

$iteWrapper: 1000px;

.siteWrapper {
	display: block;
	padding: 2em 3em;
	margin: 0 auto;
	width: 100%;
	// width: 60%;
	max-width: $iteWrapper;
}


/* 2 - LAYOUT */

// HEADER
@import "2-header";

//////////////////////////////////////////////////
// MODULES 										//
//////////////////////////////////////////////////





// section {
// 	display: block;
// 	height: 100%;
// 	overflow: hidden;
// }

// Hero
@import "3-hero";
// Feature
@import "3-feature";
// Video
@import "3-video";


// Landing
@import "3-landing";








/*********************
 * REFACTOR THESE    *
**********************/
@import "chapter2";
@import "jukebox";

/* debug && shame */

// #hero, 
// #chapter1-video,
#chapter2-tracklist,
{
	display: none;
}



.debug {
	display: none!important;
}