---
---

/* ------------
 * TOOLS
 ------------ */

// NORMALIZE
@import "0-normalize";
// BOURBON
@import "bourbon/bourbon";


/* ------------
 * BASE
 ------------ */

// VARS, BITS, HELPERS
@import "bits";
// Base
@import "base";
// Typography
@import "typography";
// BTN
@import "buttons";

$iteWrapper: 1000px;

.siteWrapper {
	display: block;
	padding: 2em 3em;
	margin: 0 auto;
	width: 100%;
	// width: 60%;
	max-width: $iteWrapper;
}


/* 2 - LAYOUT */

// HEADER
@import "2-header";

//////////////////////////////////////////////////
// MODULES 										//
//////////////////////////////////////////////////





// section {
// 	display: block;
// 	height: 100%;
// 	overflow: hidden;
// }

// Hero
@import "3-hero";
// Feature
@import "3-feature";
// Video
@import "3-video";


// Landing
.landing {
	display: block;
	position: relative;
	height: 100vh;
	width: 100%;
	
	@include display(flex);
	padding: 1.5rem 0;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;

	background-size: cover, cover;
	background-position: bottom center, bottom center;
	background-attachment: scroll, fixed;
	@include background-image(linear-gradient(transparent 0, rgba(0,0,0,0) 70%, rgba(0,0,0,0.5) 100%), url('../img/wawr_landing.jpg'));

	&::before {
		// content: "";
		@include position(absolute, 0);
		@include size(100%);
		// background-color: rgba(0,0,0,0.5);
	}
	
	&__logo {
		display: inline-block;
		margin: 0 auto;
	}
	svg.logo {
		@include size(4rem 100%);		
	}

	&__title {
		font-weight: 700;
		letter-spacing: 3px;
		padding: .6em 0 0;
	}

	&__tagline {
		text-transform: uppercase;
		letter-spacing: 0;
		@include futura;
		padding: 0 1rem;
		line-height: 2;
		margin-top: 0;
		margin-bottom: 3.125rem;
	}

	&__target { 
		display: block; 
		i {
			font-size: 3.5rem;
			color: $white;
		}
	}

}








/*********************
 * REFACTOR THESE    *
**********************/
@import "chapter2";
@import "jukebox";

/* debug && shame */

// #hero, 
// #chapter1-video,
#chapter2-tracklist,
{
	display: none;
}



.debug {
	display: none!important;
}