---
---
{% include head.html %}
    
<!-- THE NEW NEW -->
{% include 3-landing.html %}
{% include 3-tracks.html %}

<div class="control-wrapper-thing">
	<a href="javascript:;" class="video__btn" id="play-button" tabindex="1"><span class="fa fa-play"></span></a>
	<a href="javascript:;" class="video__btn" id="pause-button" tabindex="1"><span class="fa fa-pause"></span></a>
</div>


<!-- YOUTUBE TEST -->
<div class="feature youtube-test">
	<div class="feature__wrapper">
		<a href="javascript:;" class="video__btn" id="play-button" tabindex="1"><span class="fa fa-play"></span></a>
		<a href="javascript:;" class="video__btn" id="pause-button" tabindex="1"><span class="fa fa-pause"></span></a>
		
		<div class="track__number feature__number">X</div>
		
		<div class="video__wrapper">
			<div class="video0">
				<!-- <iframe src="https://www.youtube.com/embed/5AP5zQrJRIg?enablejsapi=1" frameborder="0" allowfullscreen id="youtube--1"></iframe> -->
			</div>
		</div>
	</div>
</div>

<!-- Debug -->
<div class="bp-test debug"></div>
<div id="center" class="debug"></div>

{% include 2-footer.html %}