<section class="landing__section landing">
  
  <!-- BREAKOUT BG IMAGE FOR iOS -->
  <div class="landing__fixed">
    <div class="landing__bg"></div>
  </div>

  <a class="logo__link landing__logo" href="{{ site.acq-home }}">
    {% include icon-logo-simple.html %}
  </a>

  <div class="landing__actions">
    <h1 class="landing__title">Who Are We Really?</h1>
    <p class="landing__tagline">A project by aaron requena</p>
    <a href="#" class="btn">listen now</a>
    <a href="#" class="btn btn--solid">download</a>
  </div>

  <a href="{{site.hero-cta}}" class="scroll-target landing__target">
    <i class="fa fa-angle-down"></i>
  </a>


</section>