<div id="tracklist" class="tracklist">
  {% for track in site.data.wawr.tracks %}
  <section class="feature">
    <div class="feature__wrapper">
      
      <div class="track__number feature__number">{{track.id}}</div>
      
      <div class="video__wrapper">
        <div class="video" data-video="{{track.vid-code}}" data-has-video={{track.hasVideo}}>
          <!-- this is what gets replaced -->
          <div id="video__target-{{track.id}}" class="video__target"></div>
        </div>
        <div class="video__curtain" style="background-image: url('{{track.image}}')">

          <!-- <a href="javascript:;" class="video__btn" tabindex="1"><span class="fa">&#xf04b;</span></a> -->
          <a href="javascript:;" class="video__btn" tabindex="1">&#9658;</a>
          <a href="javascript:;" class="video__btn video__btn--pause" tabindex="2">&#9612;&#9612;</a>
          <!-- <div class="controls__wrapper">
          </div> -->
          <div class="video__time">
            <span class="time--current">1:23</span>/<span class="time--total">4:56</span>
          </div>

        </div>
      </div>

      <h2 class="feature__title">{{track.title}}</h2>

    </div>
  </section>
  {% endfor %}
</div>