<section id="chapter3-jukebox">
	
	<div id="jukebox">

		<div class="soundcloud">
			<div class="columns medium-4">
				<img src="img/wawr-cover.jpg" alt="The Rarity">
			</div>
			<div class="columns medium-8">
				<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/66506949&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
			</div>	
		</div>
				
		<!-- jPlayer Instance -->
		<div id="jquery_jplayer_rarity" class="jp-jplayer"></div>
				
		<!-- jPlayer Container -->
		<div id="jp_container_rarity" class="jp-audio">
			
			<div class="jp-mini">
				<!-- TEST CONTROLS -->
				<div class="jp-mini-controls">
					<a href="javascript:;" class="jp-previous jp-playlist-seek" tabindex="1"><span class="fa">&#xf049;</span></a>
					
					<a href="javascript:;" class="jp-play" tabindex="1"><span class="fa">&#xf04b;</span></a>
					<a href="javascript:;" class="jp-pause" tabindex="1"><span class="fa">&#xf04c;</span></a>
					
					<a href="javascript:;" class="jp-next jp-playlist-seek" tabindex="1"><span class="fa">&#xf050;</span></a>
					
					<a href="javascript:;" class="hide jp-mute" tabindex="1" title="mute"><span class="fa">&#xf028;</span></a>
					<a href="javascript:;" class="hide jp-unmute" tabindex="1" title="unmute"><span class="fa">&#xf026;</span></a>
				</div>					
			</div>
		
			<!-- ARTWORK AND CONTROLS -->
			<div class="jp-artwork">
				
				<img src="img/wawr-cover.jpg" alt="The Rarity">
				
				<!-- VOLUME CONTROLS -->
				<div class="jp-volume">
					
					<a href="javascript:;" class="hide jp-mute" tabindex="1" title="mute"><span class="fa">&#xf028;</span></a>
					<a href="javascript:;" class="hide jp-unmute" tabindex="1" title="unmute"><span class="fa">&#xf026;</span></a>
					<!-- <a href="javascript:;" class="hide jp-volume-max" tabindex="1" title="max volume"><span class="fa">&#xf024;</span></a> -->
				
					<!-- <a href="javascript:;" class="hide jp-volume-max" tabindex="1" title="max volume"><span class="fa">&#xf028;</span></a> -->
					<!-- 
					<div class="jp-volume-bar">
						<span class="entypo">&#9207;</span>
						<div class="jp-volume-bar-value"></div>
					</div> 
					-->
				</div>
				
				<!-- TEST CONTROLS -->

				
				<div class="jukebox-btns">
					<a href="#" class="jqbx-btn download">Download</a>
					<a href="#" class="jqbx-btn share">Share</a>
					<a href="#" class="jqbx-btn like">Like</a>
				</div>
			</div>
				
			
			
			<!-- CONTROLS -->
			<div class="jp-controls jp-control-wrapper">
				
				<a href="javascript:;" class="jp-control jp-previous jp-playlist-seek" tabindex="1"><span class="fa">&#xf049;</span></a>
				<a href="javascript:;" class="jp-control jp-play" tabindex="1"><span class="fa">&#xf04b;</span></a>
				<a href="javascript:;" class="jp-control jp-pause" tabindex="1"><span class="fa">&#xf04c;</span></a>
				<a href="javascript:;" class="jp-control jp-next jp-playlist-seek" tabindex="1"><span class="fa">&#xf050;</span></a>
				
			</div>

			<!-- PROGRESS BAR -->
			<div class="jp-progress">
				
				<!-- TIME HOLDER -->
				<div class="jp-time-holder">
					<h1 class="current-track">Who Are We Really</h1>
					<div class="jp-current-time jp-time"></div>
					<span>|</span>
					<div class="jp-duration jp-time"></div>
				</div>
				
				<div class="jp-seek-bar">
					<div class="jp-play-bar"></div>
				</div>						
				
			</div>
		
			<!-- PLAYLIST GOES HERE -->
			<div class="jp-playlist">
				<ul></ul>
			</div>


		
		
				
			<!-- NO SOLUTION TEXT -->
			<div class="jp-no-solution">
				<span>Update Required</span>
				To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
			</div>					
				
		</div>
				
		<!-- ACTIONS -->
		<div class="jukebox-btns">
			<a href="#" class="jqbx-btn download">Download</a>
			<a href="#" class="jqbx-btn share">Share</a>
			<a href="#" class="jqbx-btn like">Like</a>
		</div>
	</div>

</section>