<section id="chapter1-video" class="feature">

	<div class="feature__wrapper">
		
		<div class="video__wrapper">
			<!-- <iframe width="560" height="315" src="//www.youtube.com/embed/4lYajC4utls?modestbranding=1&autohide=1" frameborder="0" allowfullscreen></iframe> -->
			<div class="cinema video" id="video-1"></div>
			<div class="curtain video__curtain">
				<a href="javascript:;" class="cinema-play video__btn" tabindex="1"><span class="fa">&#xf04b;</span></a>
			</div>
		</div>

		<h1 class="feature__title">Beautiful Demise</h1>
	</div>

</section>