<section id="chapter2-tracklist">
	<div class="siteWrapper">
		
		<ul class="tracklist">
			<li>Who are we really? <span class="trackInfo">Contains a sample of <i>Who Are We Really By Richard Lang</i></span> </li>
			<li>Break It Down <i>(Feat. Iman Ramzan )</i>
				<span class="trackInfo">Additional Vocals by Iman Ramzan</span>
				<span class="trackInfo">Contains a sample of <i>Esthero - Superhero</i></span>
			</li>
			<li>92 Firebird <span class="trackInfo">Contains a sample of <i>Ciara - Ride</i></span></li>
			<li>Beautiful Demise
				<span class="trackInfo">Additional Vocals by Richard Lang</span>
				<span class="trackInfo">Contains a sample of <i>Masabumi Kikuchi - Piece to Peace</i></span>
			</li>
			<li>The Happening <span class="trackInfo">Additional Vocals by Richard Lang</span></li>
			<li>Quartz</li>		
		</ul>
		
		<span class="req creator">All tracks produced By Rolex Req</span>
		<span class="aaron creator">All tracks Written & Performed by Aaron Requena</span>

	</div>
</section>
