<!-- OLD HEADER -->
<header>
  <a class="logo__link" href="{{ site.acq-home }}">
  	{% include icon-logo.svg %}    
  </a>
</header>

<!-- HERO -->
<section id="hero" class="hero">
  <h1 class="hero__title">Who Are We really?</h1>
  <a href="{{site.wawr-download}}" class="btn">Download</a>
  <a href="{{site.hero-cta}}" class="scroll-target">
    <i class="fa fa-angle-down"></i>
  </a>
</section>

<!-- CHAPTER 1 -->
<section id="chapter1-video" class="feature">
	<div class="feature__wrapper">
		<div class="video__wrapper">
			<!-- <iframe width="560" height="315" src="//www.youtube.com/embed/4lYajC4utls?modestbranding=1&autohide=1" frameborder="0" allowfullscreen></iframe> -->
			<div class="cinema video" id="video-1"></div>
			<div class="curtain video__curtain">
				<a href="javascript:;" class="cinema-play video__btn" tabindex="1"><span class="fa">&#xf04b;</span></a>
			</div>
		</div>
		<h1 class="feature__title">Beautiful Demise</h1>
	</div>
</section>

<!-- CHAPTER 4 -->
<section id="chapter4-video" class="chapter-video feature feature--alt">
	<div class="feature__wrapper">
		<div class="videoWrapper video__wrapper">
			<div class="cinema video" id="video-2"></div>
			<div class="curtain video__curtain">
				<a href="javascript:;" class="cinema-play-2 video__btn" tabindex="1"><span class="fa">&#xf04b;</span></a>
			</div>
		</div>
		<h1 class="feature__title">Break It Down</h1>
	</div>
</section>